<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/auth.css}">
</head>
<body>
<div class="container auth-container">
    <h2>Forgot Password</h2>

    <p class="message" th:if="${message}" th:text="${message}"></p>
    <p class="error" th:if="${error}" th:text="${error}"></p>

    <form method="post" th:action="@{/auth/forgot-password}">
        <div>
            <label>Email:</label>
            <input type="email" name="email" required />
        </div>
        <button type="submit">Gửi link reset</button>
    </form>

    <p><a th:href="@{/auth/login}">Quay lại đăng nhập</a></p>
</div>
</body>
</html>